@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.cloading{filter:blur(2px)}.loader{height:4px;width:100%;position:relative;overflow:hidden;background-color:#ddd}.loader:before{display:block;position:absolute;content:"";left:-200px;width:200px;height:4px;background-color:#2980b9;animation:loading 2s linear infinite}@keyframes loading{from{left:-200px;width:30%}50%{width:30%}70%{width:70%}80%{left:50%}95%{left:120%}to{left:100%}}.disbursmentchartbox{width:50%;display:inline-block}

img.thumbnail {
  max-width: 200px;
  max-height: 200px;
}

img.small-thumbnail {
  height: 100px;
}

.bootstrap-select .filter-option-inner-inner{
  color: black;
}

.bootstrap-select button.dropdown-toggle{
  height: 120px;
  width: 420px;
  background-color: #eceae9;
  border-color: #eceae9;
}

.bootstrap-select span.text div, .bootstrap-select .filter-option-inner-inner div{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: black;
}

.column-daily_ave_orders a {
  display: inline-block;
  width: 50px;
}

.close-animated-modal {
  position: absolute;
  top:5px;
  right:10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .8;
  padding-top: 3px;
  cursor:pointer;
}
.modal-content {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  margin-top: 90px;
  border-radius: 0;
  padding: 30px;
}
.modal-loading{position:absolute;
  width:286px;
  height:140px;
  left:50%;
  top:50%;
  margin-left:-143px;
  margin-top:-70px;
  z-index:10000;
}

.row .box {
  padding: 10px;
}

.row .box:first-child {
  padding-left: 25px;
}

.row .box:last-child {
  padding-right: 25px;
}

form button.btn-submit {
  width: 100%
}

#page-content-wrapper {
  margin-bottom: 30px;
}

.column-note {
  white-space: pre-wrap;
}

#claim-review-campaign-report tr .btn {
  margin-top: 5px;
}

.table a[data-toggle="popover"] {
  display: inline-block;
  min-width: 30px;
}

td .fa-files-o, td .fa-arrow-right {
  padding: 5px;
}

#product-general-stats .panel-body {
  padding: 10px 0px;
}

.panel-body.blocklisted {
  background-color: #cccccccc;
}

.panel-body.blocklisted .table-striped tr {
  background-color: transparent;
}

table#invite-review-letter-template-report td.column-body {
  max-width: 300px;
}

table#invite-review-letter-template-report td.column-body pre {
  white-space: pre-wrap;
  word-break: break-word;
}

#redeem-invite-review-letter td img{
  max-width: 100px;
}

#letter-body-preview, #modal-letter-body, #letter-modal .letter-body{
  white-space: break-spaces;
}

#redeem-invite-review-letter ol li {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px dashed black;
}

#redeem-invite-review-letter li img {
  width: 200px;
}

.nayjest-grid table {
  position: relative;
  height: 600px;
}

.nayjest-grid table thead th {
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 999;
}

table tr.total {
  background-color: #d2f5eb;
}

table tr.single td.group-name {
  vertical-align: middle;
  text-align: center;
  background-color: #d2f5eb;
}

table#warehouse-activity-table .activity-type {
  border-radius: 10px;
  padding: 5px
}

table#warehouse-activity-table .activity-type.INBOUND {
  background-color: #c3e2bd;
}

table#warehouse-activity-table .activity-type.OUTBOUND {
  background-color: #f9d88ec7;
}

table#warehouse-activity-table .activity-type.DEFECTIVE, table#warehouse-activity-table .activity-type.LOST {
  background-color: #f9a68ec7;
}
