/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


#amznCommMgrHeader{display:none}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.column-attachments {
	max-width: 200px;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/*.daterangepicker.dropdown-menu{max-width:500px !important;}*/
/*.daterangepicker .ranges{width: 90% !important;}*/
/*.daterangepicker .ranges ul{float:left}*/
/*.daterangepicker .ranges .range_inputs{float:right}*/
/*.daterangepicker .daterangepicker_end_input::after{clear:both;float:none;display:block}
.daterangepicker .ranges .range_inputs {
    width: 160px;
    float: left !important;
    margin-left: 20px;
}*/

.panel-group .panel {
    padding-bottom: 20px;
        border-radius: 0;
}

.daterangepicker.dropdown-menu .ranges li.active, .daterangepicker.dropdown-menu .ranges li:hover {
	background: #08c!important;
	border-color: #08c!important;
	color: #fff;
}


.note-list {
    font-size: 1.3rem;
    list-style: none;
    margin: 2.4rem 0 2.4rem;
   	padding:0;
}

.note-list-item {
    margin: 0 0 .75rem;
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
}

.note-list-item  .note-list-date, .note-list-item  .note-list-time {
    padding: 2rem 1rem 0 0;
    padding:0;
    font-weight: bold;
}
.note-list-comment{margin-top:5px;}
button.back {
    position: absolute;
    right: 40px;
    top: 30px;
}

.navbar-inverse{color:#fff}

.table.table-striped .pagination{float:left}
.table.table-striped .pagination.summary{line-height:34px; margin-left: 15px}

.table h5{margin-top: 3px;
    margin-bottom: 3px;}
    
.page-header {
    padding-bottom: 9px;
    margin: 0px 0 20px;
    border-bottom: 1px solid #eee;
    font-size: 22px;
   
}

.head-actions{background:#fff;    padding: 10px 0;
    z-index: 100;margin:0;
     width:100%;
    }
 .head-actions.fixed{
 position: fixed;
     top: 54px;
 }   
    
.pagination{margin:10px 0}

@media (min-width: 768px) {
.fixed-brand {
    width: 325px;
}
}


.visualBorder{
	border: 5px solid #333;
}

/* @group Global */

h5.inverse{
	border-bottom: 3px solid #297685;
}

/* @end */

body #elevio-base-menu.elevio-menu-button .open-menu,
body #elevio-base-menu .open-menu {
	display: none !important;
}

body .modal-widget .modal-header-bg {
	background-image: none !important;
}

/* @group Header Overrides */

#admin_header #menu-toggle,
#admin_header #menu-toggle-right:hover {
    background: #297685;
}

#admin_header #menu-toggle-right,
#admin_header #menu-toggle:hover {
    background: #e4e7ea;
}

#admin_header .dropdown-toggle {
    background: #e4e7ea;
    border: 1px solid #e4e7ea;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
}

#admin_header .dropdown-toggle.altDark {
    background: #297685;
    border: 1px solid #297685;
    color: #ffffff;
}

#admin_header .dropdown-toggle.altDark > a{
	color: #ffffff;
}

#admin_header .merchant-setting-link {
    color: #415973;
    font-size: 16px;
    float: right;
    margin: 7px 0 0 5px;
}

/* @end */


/* @group Sidebar Overrides */

#nav ul#accord-menu > li.active > a {
    background: #297685;
}

/* @end */

/* @group Alerts */

.alert-primary{
	background-color: #297685;
	background: rgba(41, 118, 133,0.80);
	border: none;
	color: #FFFFFF;
}

.alert-success{
	background-color: #2FA349;
	background: rgba(47,163,73,0.80);
	border: none;
	color: #FFFFFF;
}

.alert-danger{
	background-color: #B82D1E;
	background-color: rgba(184, 45, 30,0.80);
	border: none;
	color: #FFFFFF;
}

.growl-animated.alert.alert-success{
	background: rgba(47,163,73, 0.95);
	color: #f1f1f1;
}

.growl-animated.alert.alert-danger{
	background: rgba(184, 45, 30, 0.80);
}

/* @end */

/* @group Tabs */

.nav.nav-tabs.tab-alt > li.active > a{
	border: none;
	border-bottom: 3px solid #297685;
}

.nav.nav-tabs.nav-dark > li.active > a{
	border: none;
	border-bottom: 3px solid #297685;
	background: #297685;
	color: #fff;
}

/* @end */

/* @group Buttons */

.btn-success {
    background-color: #2FA349;
    border-color: #2FA349;
    color: #FFFFFF;
}

.btn-group > .btn.btn-success:last-child:not(:first-child),
.btn-group > .btn-success.dropdown-toggle:not(:first-child){
	border-left: 1px solid #178B31;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-color: #178B31;
    border-color: #178B31;
    color: #FFFFFF;
}

.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success.active[disabled], fieldset[disabled] .btn-success.active{
	background-color: #4DB865;
	border-color: #4DB865;
}

.btn-primary {
    background-color: #297685;
    border-color: #297685;
    color: #FFFFFF;
}

.btn-group > .btn.btn-primary:last-child:not(:first-child),
.btn-group > .btn-primary.dropdown-toggle:not(:first-child){
	border-left: 1px solid #297685;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #156372;
    border-color: #156372;
    color: #FFFFFF;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active{
	background-color: #6EACB8;
	border-color: #6EACB8;
}

.btn-group > .btn.btn-primary.disabled:last-child:not(:first-child),
.btn-group > .btn-primary.dropdown-toggle.disabled:not(:first-child){
	border-left: 1px solid #6EACB8;
	opacity: 0.65;
}

.btn-group.b-primary .dropdown-menu{
	background: #156372;
}

.btn-group.b-primary .dropdown-menu > li{
	border-top: 1px solid #297684;
	border-bottom: 1px solid #08505d;
}

.btn-group.b-primary .dropdown-menu > li > a:hover,
.btn-group.b-primary .dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #458A97;
}

.btn-primary .badge {
    background-color: #fff;
    color: #074D5A;
}

/* @end */

/* @group Panels */

.panel-success {
    -moz-box-shadow: 0 3px 0 rgba(6,110,29,0.30);
    -webkit-box-shadow: 0 3px 0 rgba(6,110,29,0.30);
    box-shadow: 0 3px 0 rgba(6,110,29,0.30);
}

.panel-success.dark-bottom {
    -moz-box-shadow: 0 3px 0 #066E1D;
    -webkit-box-shadow: 0 3px 0 #066E1D;
    box-shadow: 0 3px 0 #066E1D;
}
.panel-success .panel-heading {
    background-color: #2fa349;
    color: #ffffff;
    background-image:none;
}

.periodic-gross-sales .panel-stat .stat {
	max-width: 100%;
}

.periodic-gross-sales .panel-heading,
#merchant-products {
	min-height: 143px;
	position: relative;
}

.transDashboard .periodic-gross-sales .panel-heading {
	min-height: 106px;
}

#merchant-products {
	padding-bottom: 300px;
}

.periodic-gross-sales .panel-heading .preloader,
#merchant-products .preloader{
	display: block;
	position: absolute;
}

.periodic-gross-sales .panel-heading .preloader .status {
	color: #f1f1f1;
	margin-left: -25px;
}

#merchant-products .preloader .status {
	margin-top: 50px;
}

.periodic-gross-sales .panel-heading .preloader .status i,
#merchant-products .preloader .status i {
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	font-size: 44px;
	padding: 0;
}

.latest-bsr .btn {
	margin-bottom: 5px;
}

#merchant-products .mp-latest-bsr {
	height: 85px;
	max-height: 85px;
}

#merchant-products .mp-latest-bsr .btn {
	padding: 3px;
	font-size: 11px;
	margin-bottom: 5px;
	background: none;
	border: none;
	color: #193048;
}

#merchant-products .mp-latest-bsr .badge {
	padding: 3px;
	font-size: 11px;
}

/* @end */

/* @group DL Overrides */

.index .bs-table dl.dl-horizontal {
	margin-bottom: 0;
}

.index .bs-table .dl-horizontal dt {
	background: transparent;
	border-bottom: none;
	text-align: right;
	width: 110px !important;
}

.index .bs-table .dl-horizontal.detailOrderCol2 dt {
	width: 95px !important;
}

.index .bs-table .dl-horizontal.orderItemDetail dt {
	width: 100px !important;
}

.index #bs-products.bs-table .dl-horizontal.orderItemDetail dt {
	width: 85px !important;
}

.index .bs-table .dl-horizontal dd {
	margin-left: 115px !important;
}

.index .bs-table .dl-horizontal.detailOrderCol2 dd {
	margin-left: 100px !important;
}

.index .bs-table .dl-horizontal.orderItemDetail dd {
	margin-left: 105px !important;
}

.index #bs-products.bs-table .dl-horizontal.orderItemDetail dd {
	margin-left: 90px !important;
}

/* @end */


/* @group Merchant Dashboard */

#merchant-products .panel-dark .panel-heading .panel-title {
	position: relative;
	font-size: 14px;
}

#merchant-products .panel-dark .panel-heading .panel-title span {
	height: 17px;
	overflow: hidden;
}

#merchant-products .panel-dark .panel-body {
	padding: 5px 0;
	min-height: 200px;
}

#merchant-products .panel-dark .panel-body h5.inverse {
	margin-bottom: 10px;
}

#merchant-products .panel-dark .panel-body .progress {
	margin-bottom: 5px;
}

#merchant-products .panel-dark .panel-heading .panel-title small {
	color: #333;
	font-size: 100%;
}

#merchant-products .panel-heading .dash-icons {
	text-align: right;
}

.merchants.dashboard .vertical-align-left {
    width: 20px;
}

.merchants #periodic-gross-sales {
	min-height: 140px;
}

.merchants #periodic-gross-sales hr{
	margin: 5px 0;
	border-width: 1px 0 0;
}

.merchants #periodic-gross-sales .panel.panel-stat h1 {
	font-size: 20px;
}

.merchants #periodic-gross-sales .panel.panel-stat h4 {
	font-size: 14px;
}

.merchants #periodic-gross-sales i {
	font-size: 43px;
}

.stat-label .fa {
	font-size: 15px;
	margin-left: 5px;
	cursor: pointer;
}

.popover-content .stats-popover {
	font-size: 11px;
}

.popover-content  table.stats-popover{
	min-width: 200px;
	margin-bottom: 0;
}

.popover-content table.stats-popover tr:first-child td {
	border-top: none;
}

.popover-content table.stats-popover tr td {
	padding: 3px;
}

.popover-content table.stats-popover tr td.doubleBrdr {
	border-top: 3px double #bbb;
}

#dateRangePickerCont {
	position: absolute;
	width: 100%;
}

.dateRangePickerCont.singleDateRange .daterangepicker_end_input,
.dateRangePickerCont.singleDateRange .calendar.second,
.dateRangePickerCont.daterangepicker.singleDateRange .daterangepicker_start_input label {
    display: none;
}

.dateRangePickerCont.daterangepicker.singleDateRange .ranges .range_inputs > div {
    float: none;
}

.dateRangePickerCont.daterangepicker.singleDateRange .ranges .input-mini {
    width: 100%;
}

.dateRangePickerCont.daterangepicker.singleDateRange .ranges .range_inputs {
	text-align: center;
}

/* @end */

/* @group Product Dashboard */

.product-filter-form .form-group {
	margin-bottom: 0;
}

/*.product-filter-form select {
	display: none;
}*/

#salesRankTable .fixed-table-toolbar,
#searchRankTable .fixed-table-toolbar,
#promoCount .fixed-table-toolbar {
	display: none;
}

.product.dashboard hr{
	margin: 5px 0;
	border-width: 1px 0 0;
}

.product.dashboard .panel.panel-stat h1 {
	font-size: 16px;
}

.product.dashboard .panel.panel-stat h4 {
	font-size: 15px;
}

/* @end */

/* @group General Report Settings */

table.table.reportTable {
	font-size: 12px;
}

table.table.reportTable tbody tr.tableHead td{
	text-align: right;
	font-weight: bold;
}

table.table.reportTable tbody tr.subtotalRow td{
	background: #999999 !important;
	color: #ffffff;
	font-weight: bold;
}

table.table.reportTable tbody tr.totalRow td{
	background: #2FA349 !important;
	color: #ffffff;
	font-weight: bold;
}

table.table.reportTable tbody td.collapse {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	transition:padding 1s;
}

table.table.reportTable tbody td.collapse.in {
	display: table-cell !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

table.table.reportTable tbody td.text-danger {
	color: #961512 !important;
}

table.table.reportTable tbody td.text-warning {
	color: #AD6D11 !important;
}

table.table.reportTable tbody tr.totalRow td.text-warning,
table.table.reportTable tbody tr.subtotalRow td.text-warning {
	color: #ffc675 !important;
}

table.table.reportTable tbody td a.toggleRows {
	color: #ffffff;
}

/* @end */

/* @group Settlement Statement */

.settleCont {
	background: #ffffff;
}

.settleCont h5 {
	margin-bottom: 0;
}

.settleCont .ui-state-default,
.settleCont .ui-widget-content
.settleCont .ui-state-default,
.settleCont .ui-widget-header .ui-state-default {
	background: #193048;
	border-color: #193048;
	border-radius: 20px;
	width: 25px;
	height: 25px;
	top: -0.8em;
	padding-top: 3px;
}

.settleCont .ui-slider-handle:before {
	content: "\f0c9";
	color: #6eacb8;
    font-family: FontAwesome;
    margin-left: 6px;
    text-align: center;
}

.settleCont .footerSlider td {
	padding: 20px 0 15px;
	vertical-align: middle;
}

.settleCont .footerSlider td p {
	font-weight: bold;
	text-align: center;
	margin: 10px 0 0 0;
}

.settleCont .ui-state-active,
.settleCont .ui-widget-content .ui-state-active,
.settleCont .ui-widget-header .ui-state-active {
	background: #297685;
	border-color: #297685;
}

.settleTable {
	font-size: 12px;
	border-collapse: separate;
}

.settleTable.noborder tbody td{
	border: none !important;
}

.settleTable tbody  tr:nth-child(2n+1) > td,
#payoutSummary  tbody  tr:nth-child(2n+1) > td{
	background: #f1f1f1;
}

.settleTable tbody td.settleHead {
	text-align: right;
	font-weight: bold;
}

.settleTable tbody td.settleDesc {
	/*font-weight: bold;*/
	white-space: nowrap;
	width: 16.67%;
	max-width: 150px;
	padding-right: 10px;
}

.settleTable tbody td.settleDesc.mainDesc,
.settleTable tbody td.settleDesc.mainTotal,
.settleTable tbody td.prodColumn.mainColumn {
	background: #c4c4c4 !important;
	color: #fff;
	font-weight: bold;
}

.settleTable tbody td.settleDesc.subDesc {
	text-align: right;
}

.settleTable tbody td.totalColumn {
	text-align: right;
	font-weight: bold;
}

.settleTable.table-striped > tbody > tr.settleFooter > td,
#payoutSummary.table-striped > tbody > tr.settleFooter > td {
	background: #2FA349;
	color: #ffffff;
	text-align: right;
	font-weight: bold;
}

.settleTable.table-striped > tbody > tr.settleFooter > td:first-child {
	text-align: left;
}

.settleTable.table-striped > tbody > tr.settleFooter.subFooter > td,
#payoutSummary.table-striped > tbody > tr.settleFooter.subFooter > td {
	background: #999999;
}

.settleTable .anotherTable {
	position: relative;
	padding: 0;
	width: 66.67%;
	max-width: 1100px;
	background: #2FA349 !important;
}

.settleTable .anotherTable .payoutTableData {
	position: relative;
	overflow: hidden;
}

.settleTable .anotherTable #payoutSummary {
	position: relative;
	margin-bottom: 0;
}

.settleTable .anotherTable #payoutSummary tbody tr > td.prodHead {
	border-top: none !important;
	font-weight: bold;
	white-space: nowrap;
	text-align: right;
	padding: 5px 10px;
}

.settleTable .anotherTable #payoutSummary tbody tr > td.prodHead span.tip {
	cursor: pointer;
	display: inline-block;
	width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 13px;
}

.settleTable .anotherTable #payoutSummary tbody tr > td.prodHead.prodColumn {
	/*border-top: 1px solid #dddddd !important;*/
}

.settleTable .anotherTable #payoutSummary tbody tr > td.prodColumn {
	text-align: right;
	padding: 5px 10px;
}

.settleTable .anotherTable #payoutSummary tbody tr > td.prodFoot {
	text-align: right;
	padding: 5px 10px;
}

/* @end */

/* @group Campaign Report */

.campaignReport > h5 {
	margin-bottom: 0;
}

.campaignReport table.table {
	background: #ffffff;
}

.campaignReport table.table td.campName {
	font-weight: bold;
}

.campaignReport table.table td.campCol,
.campaignReport table.table td.campTotal {
	text-align: right;
}

.campaignReport table.table td.campGroup {
	padding-left: 30px;
	font-weight: bold;
}

.campaignReport table.table td.campProduct {
	padding-left: 45px;
	font-weight: bold;
}

.campaignReport table.table td.campKeyword {
	padding-left: 65px;
}

/* @end */

/* @group Orders List */

.orders.index table .prodTitle,
.buyers.index table .prodTitle{
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 8px;
}

/* @end */

/* @group Orders Details */

.table tr.prodTitle td {
	border-top: 2px solid #ddd;
}

.table tr.grandTotalRow td,
.table tr.grandTotalRow:hover td {
	border-top: 2px solid #ddd;
	background: #193048;
	color: #f1f1f1;
}

.table tr.grandTotalRow.greenRow td,
.table tr.grandTotalRow.greenRow:hover td {
	background: #297685;
}

.table tr.grandTotalRow.redRow td,
.table tr.grandTotalRow.redRow:hover td {
	background: #d33c44;
}

.table tr.grandTotalRow td.text-danger {
	color: #F9B0AE;
}

.table tr.grandTotalRow.redRow td.text-danger {
	color: #f1f1f1;
}

.table tr.doubleBorder td {
	border-top: 2px dotted #bbb;
	border-bottom: 2px dotted #bbb;
}

.table tr.doubleBorder.doubleTotal td {
	border-bottom: 3px double #bbb;
}

/* @end */

/* @group Searches Index */

.searchProcessing span {
	font-size: 12px;
}

.row.searchItems.index {
	font-size: 11px;
}

.searches.view .panel-stat i {
	font-size: 15px;
}

.searches.view .panel-stat .panel-heading {
	padding: 5px 15px;
}

/* @end */

/* @group Searches Product detail */

#netprofit table,
#dimensions table {
	font-size: 11px;
}

#netprofit table tr td:first-child,
#dimensions table tr td:first-child {
	font-weight: bold;
}

/* @end */

/* @group Notes Table */

#bs-notes tr td{
	border: none;
}

#bs-notes .note-author{
	font-weight: bold;
	margin-top: 20px;
}

#bs-notes .note-date{
	font-size: 12px;
}

#bs-notes .note-actions a{
	color: #cccccc;
	font-size: 17px;
}

#bs-notes .note-actions a.getNoteForm{
	display: inline-block;
	float: left;
	margin: 1px 8px 0 0;
}

#bs-notes .note-container{
	position:relative;
	padding:15px;
	margin: 10px 0 10px 20px;
	background: #FCF0AD; /* default background for browsers without gradient support */
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

#bs-notes .note-container:after{
	content:"";
	position:absolute;
	top:16px;
	left:-30px; /* value = - border-left-width - border-right-width */
	bottom:auto;
	border-width:15px 30px 0 0; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:transparent #FCF0AD;
	/* reduce the damage in FF3.0 */
	display:block;
	width:0;
}

/* @end */

/* @group Notes Form */

#addNoteContainer.activeNoteForm {
	margin-bottom: 20px;
}

#addNoteContainer h5 .close{
	color: #ffffff;
	opacity: 0.50;
	font-size: 16px;
	font-weight: normal;
	text-shadow: none;
}

#addNoteContainer .noteBtnContainer {
	text-align: center;
}

#addNoteContainer .cancelNoteForm {
	margin-right: 10px;
}

/* @end */

/* @group Merchant Setup */

.merchant-setup {
	font-size: 15px;
	line-height: 24px;
}

.merchant-setup ol ul li {
	margin-bottom: 20px;
}

/* @end */

/* @group Charts */

.highcharts-tooltip,
.highcharts-tooltip > span,
.highcharts-tooltip table {
	z-index: 3;
}

/* @end */

/* @group Notification Animations */

@-webkit-keyframes flash {
	0%, 50%, 100% {
		background: #e4e7ea;
	}

	25%, 75% {
		background: #297685;
	}
}

@keyframes flash {
	0%, 50%, 100% {
		background: #e4e7ea;
	}

	25%, 75% {
	    background: #297685;
	}
}

#menu-toggle-right.flash.success {
	-webkit-animation-name: successFlash;
	animation-name: successFlash;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes successFlash {
	0%, 50%, 100% {
		background: #e4e7ea;
	}

	25%, 75% {
		background: #5CB85C;
	}
}

@keyframes successFlash {
	0%, 50%, 100% {
		background: #e4e7ea;
	}

	25%, 75% {
	    background: #5CB85C;
	}
}

#menu-toggle-right.flash.info {
	-webkit-animation-name: infoFlash;
	animation-name: infoFlash;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes infoFlash {
	0%, 50%, 100% {
		background: #e4e7ea;
	}

	25%, 75% {
		background: #5BC0DE;
	}
}

@keyframes infoFlash {
	0%, 50%, 100% {
		background: #e4e7ea;
	}

	25%, 75% {
	    background: #5BC0DE;
	}
}

#menu-toggle-right.flash.warning {
	-webkit-animation-name: warningFlash;
	animation-name: warningFlash;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes warningFlash {
	0%, 50%, 100% {
		background: #e4e7ea;
	}

	25%, 75% {
		background: #F0AD4E;
	}
}

@keyframes warningFlash {
	0%, 50%, 100% {
		background: #e4e7ea;
	}

	25%, 75% {
	    background: #F0AD4E;
	}
}

#menu-toggle-right.flash.danger {
	-webkit-animation-name: dangerFlash;
	animation-name: dangerFlash;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes dangerFlash {
	0%, 50%, 100% {
		background: #e4e7ea;
	}

	25%, 75% {
		background: #D9534F;
	}
}

@keyframes dangerFlash {
	0%, 50%, 100% {
		background: #e4e7ea;
	}

	25%, 75% {
	    background: #D9534F;
	}
}

/* @end */

/* @group Notifications */

#menu-toggle-right.flash:hover {
	-webkit-animation: 0;
	animation: 0;
}

body.right-sidebar #menu-toggle-right.flash {
	-webkit-animation: 0;
	animation: 0;
}

.ajaxGetCloseParent {
	color: #cccccc;
}

.view-all-notifications-link {
	display: block;
	text-align: center;
}

.notification-item {
	color: #fff;
}

.notification-item i {
	float: left;
	margin-top: 0.3em;
	padding-right: 0.7em;
}

.notification-item span {
	display: inline-block;
	color: #999;
	font-size: 0.8em;
}

.notification-item span.separator {
	margin: 0 5px;
}

.notification-item span.date:first-of-type {
	margin-left: 1.8em;
}

.notification-item a {
	font-size: 0.9em;
}

.notification-item.unread .notification-message {
	font-weight: bold;
}

.notification-item .notification-message a{
	color: #ffffff;
}

#notification-counter {
    position: absolute;
    top: -2px;
    right: -3px;
		display: none;
    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 3px;
    padding: 1px 3px;
    font: 8px Verdana;
}

/* merchant/notifications page */

.email-sidebar h4{
	font-size: 13px;
	text-transform: uppercase;
}

.btn-all-notifications {
    padding: 10px 0;
    margin-bottom: 20px;
    font-size: 14px;
}

.panel.panel-mail .panel-body {
	padding-top: 0;
}

.panel-mail .nav-email {
	margin: 0 -15px;
}

.nav-stacked.nav-email > li + li {
	margin-top: 0;
}

.nav-email > li > a {
    color: #444;
    border-radius: 0;
    border-top: 1px solid #f2f3f6;
}

.nav-pills.nav-email > li.active > a, 
.nav-pills.nav-email > li.active > a:hover, 
.nav-pills.nav-email > li.active > a:focus {
	background: #fafafa;
	color: #1fb5ad;
	border-right: 3px solid #1fb5ad;
}

.nav-pills.nav-email > a.list-group-item.active > .badge, 
.nav-pills.nav-email > .active > a > .badge {
	background: #1fb5ad;
	color: #fff;
}

.nav-email > li > a > i {
    width: 16px;
    text-align: center;
    margin-right: 5px;
}

.table-notifications td:first-child {
    width: 30px;
}

.table-notifications .fixed-table-container tbody td,
.table-notifications .fixed-table-container thead th {
	border-left: none;
}

.table-notifications tbody > tr > td {
    vertical-align: middle;
}

.table-notifications tbody > tr.unread-notification > td {
    background: #f7f7f7;
}

.table-notifications .media {
    margin: 0;
    padding: 0;
}

.table-notifications .media-meta {
    display: inline-block;
    font-size: 11px;
    color: #999;
    margin-right: 10px;
}

.table-notifications #table-container .deleteInline {
    display: inline-block;
    font-size: 11px;
    color: #999;
}

.table-notifications .media h4 {
    margin: 0;
    font-size: 14px;
    line-height: normal;
    /*font-family: 'LatoBold', sans-serif;*/
    font-weight: normal;
}

.table-notifications .media h4 i{
	margin-right: 5px;
	font-size: 0.9em;
}

.table-notifications .media h4 a {
	cursor: pointer;
}

.table-notifications tbody > tr.unread-notification .media h4 a{
	font-weight: bold;
}

.table-notifications .notification-summary,
.table-notifications .notification-summary p {
    margin: 2px 0 0 16px;
    color: #999999;
    font-size: 12px;
    line-height: 15px;
}

.table-notifications .notification-summary p {
	margin: 0;
}

#view-container .panel-body {
	min-height: 500px;
}

#view-container .view-in-browser {
	display: none;
}

/* @end */

/* @group Campaign Report table */
.camp-tableScroll {
	overflow: auto !important;
}
/* @end */

/*mobile view css*/

/* @group Merchant side pages */
@media (max-width: 1024px) {
	.product.dashboard .panel-stat h4 {
	    font-size: 12px !important;
	}

	#addeditform .control-label {
	    display: block !important;
	}

	.dashboard .panel-stat i {
	    font-size: 20px;
	}

	.merchants #periodic-gross-sales i {
	    font-size: 20px;
	}

	#merchant-products .panel-dark .panel-heading h4.panel-title > span.tip {
		display: inline-block;
   		width: 75%;
	    word-wrap: break-word;
	}

	#reportDateRange.pull-left {
		float: none !important;
	}
}
@media (max-width: 960px) {
	.advSearchForm .rangerow .rangeLabel{
		text-align: left;
		margin-bottom: 5px;
		padding-right: 15px;
	}
	.advSearchForm .rangerow{
		
	}
	.advSearchForm .rangerow .rangeCol1, 
	.advSearchForm .rangerow .rangeCol2{
		padding-right: 15px;
	}
}
@media (max-width: 768px) {
	.merchants .stat .row > div.col-xs-4 {
		text-align: center;
	}

	.list-inline.nomargin > li {
	    padding-top: 5px;
	}

	.mobile-padding-filter {
		padding-bottom: 5px;
	}

	#reportDateRange .caret {
	    float: right;
	    margin-top: 8px;
	}

	#merchantDashboardRange .caret {
	    float: right;
	    margin-top: 8px;
	}

	.date-range-picker {
	    width: 100% !important;
	}

	#sidebar-right h2.siderbarHeading {
		font-size: 16px;
	}

	#sidebar-right h2.siderbarHeading .close, #sidebar-right h2.siderbarHeading .close .fa {
	    font-size: 14px;
	}

	.panel-heading .brand {
	    font-size: 18px;
	}

	.reportQueues .well.well-sm {
		font-size: 14px !important;
	}
	
}

@media screen and (max-width: 520px) {
	.fixed-table-container #multi-sort tbody tr:first-child td {
	    vertical-align: middle;
	}

	#multi-sort select.form-control.multi-sort-name,#multi-sort select.form-control.multi-sort-order {
		font-size: 11px;
    	padding: 3px 1px 6px;
	}

	ul#sidebar-accordion li.sidebarForm .product form#addeditform .col-md-6 .checkbox-success.checkbox >  input,
	ul#sidebar-accordion li.sidebarForm .product form#addeditform .col-md-6 .checkbox-success.checkbox  > label {
		display: inline !important;
	}

	.dashboard .panel-stat i ,.merchants #periodic-gross-sales i{
	    font-size: 30px;
	}

	#sidebar #leftside #nav {
	    padding-top: 109px;
	}

	#sidebar-right ul#sidebar-accordion {
	    margin-top: 53px;
	}

	.right-header {
   		margin-top: 56px;
   		margin-right: 5px;
	}

	#admin_header .brand {
	    height: 56px;
	    left: 0;
	    position: fixed;
	    top: 0;
	    width: 100%;
	}

	.brand #menu-toggle {
	    left: auto !important;
	    right: 15px !important;
	}

	#admin-main-content .admin-main-content {
    	margin-top: 100px;
	}

	.tab-content #overview .panel-body dl {
		overflow-x: scroll;
	}

	.tab-content #overview .panel-body dl dd {
		width: 100%;
	}

	#isotopeContainer .grid-item .panel-body dl {
		overflow-x: scroll;
	}

	#isotopeContainer .grid-item .panel-body dl dd {
		width: 100%;
	}

}

@media screen and (max-width: 380px) {
	.grid-item .panel-dark .main-heading > h4 {
		font-size: 15px;
	}

	.panel-stat .panel-heading .stat .row .col-xs-12 .row .col-xs-4 > h4 {
		font-size: 16px;
	}

	.bootstrap-table .fixed-table-toolbar > .bars {
		display: block;
		width: 100%;
	}

	.advSearchForm.Products .input.form-group.radio {
	    border-bottom: 1px dashed #28384e;
	}

	#actions {
		text-align: center;
	}

	#actions > a.btn-group.btn-group.b-inverse {
	    display: inline-block;
	    float: none;
	    margin-bottom: 10px;
	}

	#actions #extractResults {
	    display: inline-block;
	    float: none;
	    margin-bottom: 10px;
	}

	#actions .btn.btn-success.new-search {
	    display: inline-block;
	    float: none;
	    margin-bottom: 10px;
	}

	.modal-dialog {
	    margin: 110px auto;
	}

	.merchants #periodic-gross-sales i {
	    font-size: 30px;
	}

	#merchant-products .panel-dark .panel-heading .panel-title {
		position: relative;
		font-size: 12px;
	}

	#merchant-products .panel-heading .dash-icons {
		text-align: right;
	}

	#merchant-products .panel-dark .panel-body .col-md-6 > h5.inverse {
		font-size: 12px;
		padding: 0;
	}

	#merchant-products .panel-dark .panel-body > .col-md-6 span.sublabel {
		font-size: 11px;
	}

	#merchant-products .panel-dark .panel-body > .col-md-6 span.sublabel strong {
	    display: block;
	}

	#merchant-products .panel-dark .panel-footer ul > .col-md-3 small.stat-label,
	#merchant-products .panel-dark .panel-footer ul > .col-md-3 small.stat-label span.fa-info-circle {
	    font-size: 10px;
	}
}

/* @end */

.panel-stat {
	background: none;
}

.panel-stat .panel-heading {
	padding: 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.panel-stat .panel-heading.border-radius-bottom-0 {
	-moz-border-bottom-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-moz-border-bottom-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	padding: 10px 15px;
}

.panel-stat table.table.table_stats {
    margin-bottom: 0;
}

.panel-stat table.table.table_stats > tbody > tr > td{
    border: none;
    padding: 0 3px;
}

.panel-stat .stat {
	color: #fff;
	max-width: 250px;
}

.panel-stat .panel-body .stat {
	color: #193048;
	max-width: 100%;
}

.panel-stat .stat img {
	text-align: center;
}

.panel-stat i {
	font-size: 30px;
	border: 1px solid #fff;
	padding: 15px;
	border-radius: 50px;
	opacity: 0.5;
}

.panel-stat i.smaller {
	font-size: 24px;
	padding: 11px;
}

.panel-success.panel-stat i {
	border: 1px solid #007666;
	opacity: 1;
	color: #007666;
}

.panel-primary.panel-stat i {
	border: 1px solid #0B575B;
	opacity: 1;
	color: #0B575B;
}

.panel-warning.panel-stat i {
	border: 1px solid #AD6D11;
	opacity: 1;
	color: #AD6D11;
}

.panel-danger.panel-stat i {
	border: 1px solid #961512;
	opacity: 1;
	color: #961512;
}

.panel-info.panel-stat i {
	border: 1px solid #1993B6;
	opacity: 1;
	color: #1993B6;
}

.panel .stat-label {
	text-transform: uppercase;
	font-size: 11px;
	opacity: 0.75;
	display: block;
	line-height: normal;
	margin-bottom: 2px;
}

.panel .stat-label.stat-heading {
    font-size: 13px;
    opacity: 1;
}

.panel-stat h1 {
	margin: 0;
	line-height: 32px;
	font-size: 20px;
}

.panel-stat.unit-sessions-panel h1 {
	line-height: 29px;
}

.panel-stat h4 {
	margin: 0;
	font-size: 15px;
}

.sublabel {
	display: block;
	font-size: 12px;
	margin-bottom: 2px;
}

.mb15 {
    margin-bottom: 15px;
}
/* @end */